.container {
  width: 100%;
  padding-top: 200px;
}
.contentBlock {
  padding: 20px;
  margin: auto;
  max-width: 500px;
  border-radius: 3px;
  border: 1px solid;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.select {
  display: flex;
  align-items: center;
}